*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  min-width: 310px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #999999;
}
a:hover {
  color: white;
}
.btn {
  color: #c2c3c4;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 40px;
  padding: 20px 40px;
  border-radius: 40px;
  border: 1px solid #c2c3c4;
  transition: transform .2s;
}
a.btn:hover  {
  transform: scale(1.1);
  color: white;
  border: 1px solid white;
}
/* / BOTTONI */
#wrapper {
  height: 100vh;
  width: 100%;
  background-color: yellow;
  overflow: hidden;
}
main {
  display: flex;
  height: calc(100% - 90px);
}

nav#main_nav {
  width: 250px;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 20px; */
}
@media screen and (max-width: 600px) {
  nav#main_nav {
    width: 50px;
    padding: 10px;
  }
}
.nav_logo {
  margin-bottom: 20px;
  padding: 20px;
}
.nav_logo .logo_small {
  display: none;
}
@media screen and (max-width: 600px) {
  .nav_logo {
    padding: 0px;
  }
  /* logo piccolo */
  .nav_logo .logo_small {
    display: block;
  }
  /* logo grande */
  .nav_logo .logo_big {
    display: none;
  }
}
.nav_menu ul li {
  padding: 5px 10px;
}
@media screen and (max-width: 600px) {
  .nav_menu ul li {
    padding: 5px 0px;
  }
}
#main_nav .nav_menu img {
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
  opacity: 0.5;
}
#main_nav .nav_menu ul li a:hover img {
  opacity: 1;
}
#main_nav .nav_menu ul li.select {
  border-left: 3px solid #adff2f;
  padding-left: 7px;
}
main_nav .nav_menu ul li:not(:first-child):hover {
  border-left: 3px solid #adff2f;
  padding-left: 7px;
}
@media screen and (max-width: 600px) {
  #main_nav .nav_menu ul li.select {
    border-left: 0;
    padding-left: 0;
  }
}
#main_nav .nav_playlist_create {
  padding: 0px 10px;
}
#main_nav .nav_playlist_create h3 {
  text-transform: uppercase;
  padding: 10px 0;
  color: white;
}
#main_nav .nav_playlist_create a i {
  font-size: 40px;
  vertical-align: middle;
  padding-right: 20px;
}

.nav_playlist {
  flex-grow: 1;
  overflow-y: auto;
  min-height: 50px;
  padding: 0 10px;
}
.nav_playlist ul li {
  padding: 10px 0px;
}
@media screen and (max-width: 600px) {
  #main_nav .nav_playlist_create,
  #main_nav .nav_playlist {
    display: none;
  }
  #main_nav .hidden_small {
    display: none;
  }
  #main_nav .nav_menu {
    flex-grow: 1;
  }
  .install_nav a img {
    padding-left: 4px;
  }
}
/* nav bottom */
#main_nav .nav_bottom {
  padding: 0 10px;
}
@media screen and (max-width: 600px) {
  #main_nav .nav_bottom {
    padding: 0px;
  }
}
#main_nav .nav_bottom .install_nav {
  border-bottom: 1px solid #999999;
  line-height: 40px;
}
#main_nav .nav_bottom .install_nav a {
  padding: 5px 0;
}
#main_nav .nav_bottom .install_nav img {
  height: 20px;
  vertical-align: middle;
  margin-right: 20px;
  opacity: 0.5;
}
#main_nav .nav_bottom .install_nav a:hover img {
  opacity: 1;
}
#main_nav .nav_bottom .profile_nav {
  padding: 10px 0;
}
#main_nav .nav_bottom .profile_nav img {
  height: 30px;
  vertical-align: middle;
  margin-right: 20px;
  border-radius: 50%;
  transition: 0.5s;
}

#main_nav .nav_bottom .profile_nav a:hover img{
  transform: scale(5);
}
@media screen and (max-width: 600px) {
  #main_nav .nav_bottom .install_nav img,
  #main_nav .nav_bottom .profile_nav img {
    /* text-align: center; */
    /* margin-right: 0px; */
  }
}

section#main_content {
  width: calc(100% - 250px);
  height: 100%;
  background-color: #141922;
  overflow: auto;
  padding-top: 100px;
}
@media screen and (max-width: 600px) {
  section#main_content {
    width: calc(100% - 50px);
  }
}
.call_to_action {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.64);
  width: calc(100% - 250px);
  height: 100px;
  text-align: right;
  vertical-align: middle;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  section#main_content .call_to_action {
    width: calc(100% - 50px);
  }
}
#main_content .call_to_action .upgrade {
  display: inline-block;
  margin-top: 20px;
}
@media screen and (max-height: 250px) {
  .call_to_action {
    display: none;
  }
  section#main_content {
    padding-top: 10px;
  }
}
.main_content_nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main_content_nav_list li {
  line-height: 50px;
  margin: 0 15px;
  text-transform: uppercase;
  font-size: 12px;
}

#main_content .main_content_nav .main_content_nav_list li a {
  position: relative;
  padding-bottom: 5px;
}
#main_content .main_content_nav .main_content_nav_list li a:hover:after {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  display: block;
  height: 3px;
  width: 35px;
  background-color: #adff2f;
}

#main_content .main_content_nav .main_content_nav_list li a.active:after {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  display: block;
  height: 3px;
  width: 35px;
  background-color: #adff2f;
}


#played h2 {
  color: white;
  padding: 20px 0px;
  margin-left: 20px;
}
.played_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}
.played_element {
  flex-basis: calc(100% / 7);
  margin: 0 10px;
  padding-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 1170px) {
  .played_element {
    flex-basis: calc(100% / 5 - 20px);
    margin: 0 10px;
  }
}
@media screen and (max-width: 1060px) {
  .played_element {
    flex-basis: calc(100% / 4 - 20px);
    margin: 0 10px;
  }
}
@media screen and (max-width: 826px) {
  .played_element {
    flex-basis: calc(100% / 3 - 20px);
    margin: 0 10px;
  }
}
@media screen and (max-width: 684px) {
  .played_element {
    flex-basis: calc(100% / 2 - 20px);
    margin: 0 10px;
  }
}
@media screen and (max-width: 343px) {
  .played_element {
    flex-basis: calc(100% - 20px);
    margin: 0 10px;
  }
}
.played_element .cover {
  position: relative;
}
.played_element .cover img {
  width: 100%;
}
.played_element .cover .img_layover {
  font-size: 70px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  display: none;
}
.played_element:hover {
  cursor: pointer;
}
.played_element:hover .cover img {
  opacity: 0.5;
}
.played_element:hover .cover .img_layover {
  display: block;
}
.played_element .cover_text h3 {
  color: white;
  padding-top: 10px;
  line-height: 16px;
}
.played_element .cover_text p {
  color: #999999;
  font-size: 12px;
  padding-top: 10px;
}
#create h2 {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 20px;
}
#create > p {
  color: #999999;
  font-size: 12px;
  margin-left: 20px;
  padding-bottom: 25px;
}
#popular h2 {
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 20px;
}
#popular > p {
  color: #999999;
  font-size: 12px;
  margin-left: 20px;
  padding-bottom: 25px;
}
#popular .played_element .cover img {
  width: 100%;
  border-radius: 50%;
}

footer {
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #282828;
}
section#player {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.blue {
  background-color: blue;
}
.coral {
  background-color: coral;
}
.green {
  background-color: green;
}
#player .song {
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#player .song .song_cover {
  height: 80%;
}
#player .song .song_cover img {
  height: 100%;
  margin-right: 10px;
}
#player .song .song_name {
  margin-right: 10px;
}
#player .song .song_name h3 {
  color: white;
  font-size: 13px;
}
#player .song .song_name p {
  color: #999999;
  font-size: 11px;
}
@media screen and (max-width: 768px) {
  #player .song .song_cover {
    height: 60%;
  }
  #player .song .song_name {
    margin-right: 0px;
  }
  #player .song .song_name h3 {
    font-size: 11px;
  }
  #player .song .song_name p {
    font-size: 9px;
  }
}
@media screen and (max-width: 388px) {
  #player .song .song_cover {
    display: none;
  }
}
@media screen and (max-width: 330px) {
  #player .song .song_save {
    display: none;
  }
}
#player .song .song_save a:first-child {
  padding-right: 5px;
  padding-left: 10px;
}
#player .controller {
  height: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  padding: 0 50px;
}
#player .controller .player_button ul li {
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
  transition: scale 0.4s;
  vertical-align: middle;
}
#player .controller .player_button ul li a {
  display: inline-block;
}
.bigger a {
  font-size: 35px;
}

@media screen and (max-width: 992px) {
  #player .controller {
    padding: 0 25px;
  }
}
@media screen and (max-width: 768px) {
 
  #player .controller .player_button ul li {
    font-size: 15px;
  }
  
  .bigger a {
    font-size: 20px;
  }

  #player .controller {
    padding: 0 15px;
  }
}
@media screen and (max-width: 600px) {
  
  #player .controller .player_button ul li {
    font-size: 12px;
  }
  .bigger a {
    font-size: 16px;
  }
  #player .controller {
    padding: 0 15px;
  }
  #player .controller .player_button ul li {
    padding: 0 5px;
  }
}
@media screen and (max-width: 424px) {
  #player .controller .player_button ul li {
    padding: 0 2px;
  }
}

.bigger:hover a {
  transform: scale(1.2);
}

.player_time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 388px) {
  .audio_hidden {
    display: none;
  }
}